.trade_in {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    row-gap: 24px;

    &__title {
        font-size: 32px;
        line-height: 48px;
        margin-top: 50px;
    }

    &__content {
        display: flex;
        gap: 24px;
    }

    &__form {
        min-width: 360px;
    }
}
