.button_favorite {
    background-color: #eeeff8;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    height: 40px;
    outline: none;
    position: relative;
    width: 40px;
    z-index: 2;
}

.heart {
    height: 24px;
    width: 24px;

    & path {
        fill: none;
        stroke: var(--main-text-color);
        transition: scale ease var(--transition-time);
    }
}

.heart_active {
    & path {
        fill: var(--main-color);
        stroke: none;
    }
}

.heart_link {
    padding: 10px;
}

@media (hover: hover) {
    .heart:hover {
        scale: 1.01;
    }
}

@media (max-width: 1200px) {
    .heart {
        position: relative;
        top: 5px;
    }
}
