.heart {
    height: 24px;
    width: 24px;

    & path {
        fill: none;
        stroke: var(--main-color);
        transition: stroke ease var(--transition-time);
    }
}

@media (hover: hover) {
    .heart:hover path {
        stroke: var(--hover-main-color);
    }
}

@media (max-width: 1200px) {
    .heart {
        position: relative;
        top: 5px;
    }
}
