.in_stock {
    margin-top: 40px;
    margin-bottom: 40px;

    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 36px;
        margin-bottom: 24px;
        letter-spacing: 1px;
        line-height: 40px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(6, minmax(max-content, 1fr));
        gap: 16px;
        margin-bottom: 20px;
    }

    &__item {
        display: flex;
        gap: 4px;
        position: relative;
        border-radius: 24px;
        border: 1px solid rgba(111, 131, 110, 0.4);
        padding: 8px 16px;
        align-items: center;
        justify-content: flex-start;
        transition: border ease var(--transition-time);
    }

    &__link {
        position: absolute;
        inset: 0;
    }

    &__count {
        color: var(--main-color);
    }

    &__btn_more {
        background-color: transparent;
        border: none;
        color: var(--main-color);
        cursor: pointer;
        font-size: 16px;
        line-height: 24px;
        outline: none;
        padding: 12px;
        margin-left: auto;
        transition: text-shadow ease var(--transition-time);
        justify-self: flex-end;
        width: max-content;
    }
}

@media (hover: hover) {
    .in_stock__item:hover {
        border: 1px solid var(--main-color);
    }

    .in_stock__btn_more:hover {
        text-shadow: 0.1px 0.1px 0.1px var(--main-color);
    }
}

@media (max-width: 1200px) {
    .in_stock__list {
        grid-template-columns: repeat(5, minmax(max-content, 1fr));
    }
}

@media (max-width: 900px) {
    .in_stock__list {
        grid-template-columns: repeat(4, minmax(max-content, 1fr));
    }
}

@media (max-width: 768px) {
    .in_stock__list {
        grid-template-columns: repeat(3, minmax(max-content, 1fr));
    }
}

@media (max-width: 600px) {
    .in_stock__list {
        grid-template-columns: repeat(2, minmax(max-content, 1fr));
        gap: 16px 8px;
    }
}

@media (max-width: 500px) {
    .in_stock__list {
        grid-template-columns: 1fr;
        gap: 8px;
    }
}
