:root {
    --main-color: #148f2b;
    --main-text-color: #1e1e1e;
    --inverse-text-color: #fff;
    --light-text-color: #727c95;
    --decorative-line-color: rgba(111, 131, 110, 0.4);
    --transition-time: 0.3s;

    --hover-main-color: #17cd39;
}
