.cross {
    border: 5px solid transparent;
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 7px;
    transition: all ease var(--transition-time);
    width: 30px;
}

.cross::before,
.cross::after {
    content: '';
    position: absolute;
    background-color: var(--main-text-color);
    transition: all 0.3s ease;
}

.cross::before {
    width: 100%;
    height: 5px;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(45deg);
}

.cross::after {
    width: 100%;
    height: 5px;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(-45deg);
}

@media (hover: hover) {
    .cross:hover {
        scale: 1.1;
    }
}

@media (max-width: 500px) {
    .cross {
        right: 10px;
        top: 2px;
    }

    .cross::before {
        height: 3px;
    }

    .cross::after {
        height: 3px;
    }
}
